---
import PlusIcon from "../icons/plus.svg?raw";
import Popover from "./Popover.astro";
---

<button
	type="button"
	aria-label="Add"
	class="folder-add-btn aspect-square rounded hover:bg-(--color-muted)/10 transition-colors cursor-pointer text-(--color-muted) opacity-0 group-hover:opacity-100"
>
	<span class="w-3.5 h-3.5 inline-block" set:html={PlusIcon} />
</button>
<Popover>
	<slot />
</Popover>
